*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.detail{
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  align-items: center;
  background-color: #00CED1;
  color: white;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  border-bottom: 1px solid #00CED1;
}
.logo{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
}
.logo a{
  color: #00CED1;
  text-decoration: none;
}
.menu_links{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 600px;
}
.menu_links a{
  text-decoration: none;
  color: #00CED1;
  font-size: 16px;
}
.menu_links a:hover{
  border-bottom: 2px solid #00CED1;
}
.image img{
  position: absolute;
  top: 92px;
  left: 0px;
  width: 100%;
  height: 630px;
}
.tab{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 800px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border-bottom: 1px solid #00CED1;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.tab thead tr{
  background-color: #00CED1;
  color: white;
  text-align: left;
  font-weight: bold;
}
.tab th, .tab td{
  padding: 12px 15px;
}
.tab tbody tr{
  border-bottom: 2px solid #dddddd;
}
.tab tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.tab tbody tr:last-of-type{
  border-bottom: 3px solid #00CED1;
}
.button{
  border:1px solid #00CED1;
  background-color: white;
  padding: 5px 15px;
  border-radius:25px;
  transition: 0.5s ease-in;
}
a .button{
    padding: 10px 35px;
}
.button:hover{
  background-color: #00CED1;
  color: white;
}
.add{
    position: relative;
    top:150px;
    right:130px;
    float:right;
}
form .tab tbody tr th{
    border-right: 2px dashed black;
}
form .tab tbody tr td input[type="text"],form .tab tbody tr td input[type="email"],form .tab tbody tr td input[type="number"]{
    border-radius: 5px;
    width: 50vh;
    padding:3px 3px;
}
.footer{
  position: absolute;
  display: flex;
  min-height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  bottom: 0px;
  background-color: #00CED1;
}
.footer li{
  list-style-type: none;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
}
